<app-navbar></app-navbar>
<br><br><br><br>
<div class="row">
  <div class="col-md-4 mx-auto mt-5">
    <div class="box">
      <div class="card-body">
        <h1 class="text-center" style="color: #8c8c8c; font-weight: bold;">Recover Password</h1>
        <label for="inputEmail" class="col-sm-5 col-form-label" style=" font-weight: bold;">Email</label>
          <input type="text" class="form-control" id="SendEmail"  [formControl]="SendEmail">
        <div class="form-group mt-3">
          <button class="btn btn-primary btn-lg btn-block" (click)="rememberPassword()">  Send Email </button> 
          <br>
          <p style="color: #8c8c8c;">
            Do you remember your password? Let's go to <a [routerLink]="['/login']"> Login </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>